[submodule "lib/mkheader"]
	path = lib/mkheader
	url = https://github.com/moraesvic/mkheader
[submodule "lib/bash_common"]
	path = lib/common
	url = https://github.com/moraesvic/bash_common
[submodule "cadmus"]
	path = install
	url = https://github.con/moraesvic/cadmus
